<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN"
    "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
    
<!-- DEV -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Console appender -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %C %M%n%p: %m%n" />
		</layout>
	</appender>

	<!-- User action log appender -->
	<appender name="de.tikron.webapp.service.user.UserActionAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="${catalina.base}/logs/useraction.log" />
		<param name="MaxFileSize" value="1MB"/>
		<param name="MaxBackupIndex" value="10"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p: %m%n" />
		</layout>
	</appender>

	<!-- Application -->
	<logger name="de.tikron.webapp">
		<level value="debug" />
	</logger>

	<!-- User action logger -->
	<logger name="de.tikron.webapp.service.user.UserAction" additivity="false">
		<level value="info" />
		<appender-ref ref="de.tikron.webapp.service.user.UserActionAppender" />
	</logger>

	<!-- Hibernate-->
	<logger name="org.hibernate">
		<level value="warn" />
	</logger>
	<logger name="org.hibernate.SQL"><!-- Log all SQL DML statements as they are executed -->
		<level value="warn" />
	</logger>
	<logger name="org.hibernate.type"><!-- Log all JDBC parameters -->
		<level value="warn" />
	</logger>
	<logger name="org.hibernate.tool.hbm2ddl"><!-- Log all SQL DDL statements as they are executed -->
		<level value="warn" />
	</logger>
	<logger name="org.hibernate.pretty"><!-- Log the state of all entities (max 20 entities) associated with the session at flush time -->
		<level value="warn" />
	</logger>
	<logger name="org.hibernate.cache"><!-- Log all second-level cache activity -->
		<level value="warn" />
	</logger>
	<logger name="org.hibernate.transaction"><!-- Log transaction related activity -->
		<level value="warn" />
	</logger>
	<logger name="org.hibernate.engine.jdbc"><!-- Log all JDBC resource acquisition -->
		<level value="warn" />
	</logger>
	<logger name="org.hibernate.hql.ast.AST"><!-- Log HQL and SQL ASTs during query parsing  -->
		<level value="warn" />
	</logger>

	<!-- Spring -->
	<logger name="org.springframework">
		<level value="warn" />
	</logger>
	<!-- 
	<logger name="org.springframework.bean">
		<level value="debug" />
	</logger>
	<logger name="org.springframework.context.annotation">
		<level value="info" />
	</logger>
	<logger name="org.springframework.orm.jpa">
		<level value="debug" />
	</logger>
	<logger name="org.springframework.transaction">
		<level value="debug" />
	</logger>
	<logger name="org.springframework.transaction.interceptor">
		<level value="trace" />
	</logger>
	 -->

	<!-- Root Logger -->
	<root>
		<priority value="warn" />
		<appender-ref ref="console" />
	</root>

</log4j:configuration>
