<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN"
    "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
    
<!-- PROD -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Console appender -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %C %M%n%p: %m%n" />
		</layout>
	</appender>

	<!-- User action log appender -->
	<appender name="de.tikron.webapp.service.user.UserActionAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="${catalina.base}/logs/useraction.log" />
		<param name="MaxFileSize" value="1MB"/>
		<param name="MaxBackupIndex" value="10"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p: %m%n" />
		</layout>
	</appender>

	<!-- Application -->
	<logger name="de.tikron.webapp">
		<level value="info" />
	</logger>

	<!-- User action logger -->
	<logger name="de.tikron.webapp.service.user.UserAction" additivity="false">
		<level value="info" />
		<appender-ref ref="de.tikron.webapp.service.user.UserActionAppender" />
	</logger>

	<!-- Hibernate-->
	<logger name="org.hibernate">
		<level value="info" />
	</logger>
	<logger name="org.hibernate.tool.hbm2ddl">
		<level value="info" />
	</logger>
	<logger name="org.hibernate.SQL">
		<level value="info" />
	</logger>

	<!-- Spring -->
	<logger name="org.springframework">
		<level value="info" />
	</logger>

	<!-- Root Logger -->
	<root>
		<priority value="warn" />
		<appender-ref ref="console" />
	</root>

</log4j:configuration>
